# Secretos: NUNCA subir a GitHub
.env
secrets/
*.p8
*.pem

# Python
__pycache__/
*.pyc
.venv/

# dbt (se generan al ejecutar)
dbt/nyc_taxi/target/
dbt/nyc_taxi/dbt_packages/
dbt/nyc_taxi/logs/
logs/

# Datos descargados
data/
*.parquet